<!-- templates/formulario.html -->
{% extends "base.html" %}

{% block title %}Formulário com Assinatura{% endblock %}
{% block styles %}
<style>
    .radio-group{
        display: flex;
    }
    .radio-group .form-check {
        margin-right: 15px;     /* Adiciona espaço entre as opções */
    }

    #signature-pad {
        border: 1px solid #000; /* Adiciona uma borda ao canvas */
        box-sizing: border-box; /* Inclui padding e borda na largura total */
    }

    .card {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin-inline: 2vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}

{% block navbar %}
<button class="nav-link text-start text-dark fw-bold nav-button"
    id="v-pills-home-tab colorButton" data-bs-toggle="pill" data-bs-target="#v-pills-home"
    type="button" role="tab" onclick="redireciona('home');" aria-controls="v-pills-home" aria-selected="false" title="Home"><i
    class="bi bi-house"></i> <span class="nav-text">Home</span></button>
<button class="nav-link text-start text-dark fw-bold nav-button" id="v-pills-contas-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-meus-dados" type="button" role="tab"
    aria-controls="v-pills-meus-dados" onclick="redireciona('meusDados')" aria-selected="false" title="Meus Dados"><i class="bi bi-person"></i><span
        class="nav-text">Meus Dados</span></button>
<button class="nav-link text-start text-dark fw-bold nav-button" id="v-pills-opt-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-opt" type="button" role="tab" onclick="redireciona('all_chamados')"
    aria-controls="v-pills-opt" aria-selected="false" title="Atendimentos"><i class="bi bi-list-task"></i>
    <span class="nav-text">Chamados</span></button>  
{% if current_user.tipo == 'Administrador' %}
<button class="nav-link active text-start text-start text-dark fw-bold nav-button" id="v-pills-adm-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-adm" type="button" role="tab" onclick="redireciona('admin')"
    aria-controls="v-pills-adm" aria-selected="true" title="Administrador"><i class="bi bi-person-lock"></i>
    <span class="nav-text">Administrador</span></button>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="pt-4 nav justify-content-end">

        <div class="d-flex">
            <a class="btn btn-outline-dark m-2" href="{{ url_for('all_usuarios') }}">Voltar</a>
        </div>
    </div>
    <main class="form-signin w-75 m-auto">
        <div class="row g-5">
            <div class="col align-self-start">
                <form class="needs-validation" novalidate method="POST" id="myForm" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="card" style="height: 95%;">
                        <div class="row g-3">

                            <h4 class="mb-3">Adicionar Usuário</h4>

                            <div class="col-sm-6">
                                <label for="nome" class="form-label">Nome</label>
                                {{form.nome_usuario(class="form-control", type="text", id="nome")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="nascAlu" class="form-label">E-mail</label>
                                {{form.email_usuario(class="form-control", type="email", id="email")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="senha" class="form-label">Senha</label>
                                {{form.senha_usuario(class="form-control", type="password", id="senha")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="tipo" class="form-label">Nível</label>
                                {{form.tipo_usuario(class="form-select", type="select", id="tipo")}}
                            </div>                 
                            
                            <div class="col-sm-2 mb-6">
                                <button class="w-100 btn btn-dark btn-sm" type="submit">Salvar</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<script>
    function redireciona(aba){
        switch(aba){
            case 'home':
                window.location.replace("{{ url_for('home') }}");
                break;
            case 'meusDados':
                window.location.replace("{{ url_for('base_dados') }}");
                break;
            case 'all_chamados':
                window.location.replace("{{ url_for('all_chamados') }}");
                break;
            case 'admin':
                window.location.replace("{{ url_for('all_usuarios') }}");
                break;
        }
            
    }
</script>
{% endblock %}
