<!-- templates/formulario.html -->
{% extends "base.html" %}

{% block title %}Formulário com Assinatura{% endblock %}

{% block styles %}
<style>
    .radio-group{
        display: flex;
    }
    .radio-group .form-check {
        margin-right: 15px;     /* Adiciona espaço entre as opções */
    }

    #signature-pad {
        border: 1px solid #000; /* Adiciona uma borda ao canvas */
        box-sizing: border-box; /* Inclui padding e borda na largura total */
    }

    .card {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin-inline: 2vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}

{% block navbar %}
<button class="nav-link text-start text-dark fw-bold nav-button"
    id="v-pills-home-tab colorButton" data-bs-toggle="pill" data-bs-target="#v-pills-home"
    type="button" role="tab" onclick="redireciona('home');" aria-controls="v-pills-home" aria-selected="false" title="Home"><i
    class="bi bi-house"></i> <span class="nav-text">Home</span></button>
<button class="nav-link active text-start text-dark fw-bold nav-button" id="v-pills-contas-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-meus-dados" type="button" role="tab"
    aria-controls="v-pills-meus-dados" onclick="redireciona('meusDados')" aria-selected="true" title="Meus Dados"><i class="bi bi-person"></i><span
        class="nav-text">Meus Dados</span></button>
<button class="nav-link text-start text-dark fw-bold nav-button" id="v-pills-due-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-due" type="button" role="tab"
    aria-controls="v-pills-due" onclick="redireciona('documentos')" aria-selected="false" title="Documentos"><i class="bi bi-pass"></i>
    <span class="nav-text">Documentos</span></button>
<button class="nav-link text-start text-dark fw-bold nav-button" id="v-pills-opt-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-opt" type="button" role="tab" onclick="redireciona('chamados')"
    aria-controls="v-pills-opt" aria-selected="true" title="Chamados"><i class="bi bi-list-task"></i>
    <span class="nav-text">Chamados</span></button>  
{% if current_user.tipo == 'Administrador' %}
<button class="nav-link text-start text-start text-dark fw-bold nav-button" id="v-pills-adm-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-adm" type="button" role="tab" onclick="redireciona('admin')"
    aria-controls="v-pills-adm" aria-selected="false" title="Administrador"><i class="bi bi-person-lock"></i>
    <span class="nav-text">Administrador</span></button>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="pt-4 nav justify-content-end">

        <div class="d-flex">
            <a class="btn btn-outline-dark m-2" href="{{ url_for('home') }}">Voltar</a>
        </div>
    </div>
    <main class="form-signin w-75 m-auto">
        <div class="row g-5">
            <div class="col align-self-start">
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <h4 class="mb-3">1. Dados do Aluno</h4>

                        <div class="col-sm-6">
                            <label for="cepResp" class="form-label">CEP</label>
                            <label class="form-control">{{ dados['cep'][0] }}</label>
                        </div>

                        <div class="col-sm-12">
                            <label for="logradouro" class="form-label">Logradouro</label>
                            <label class="form-control">{{ dados['rua'][0] }}</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="num" class="form-label">Número</label>
                            <label class="form-control">{{ dados['num'][0] }}</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="bairro" class="form-label">Bairro</label>
                            <label class="form-control">{{ dados['bairro'][0] }}</label>
                        </div>

                        <div class="col-sm-12">
                            <label for="complemento" class="form-label">Complemento</label>
                            <label class="form-control">{{ dados['complemento'][0] }}</label>
                        </div>

                        <h4 class="mb-3">2. Dados do Responsável</h4>

                        <div class="col-sm-6">
                            <label for="tel_fixo" class="form-label">Telefone Residencial</label>
                            <label class="form-control">{{ dados['tel_fixo'][0] }}</label>
                        </div>

                        <div class="col-sm-6">
                            <label for="telResp" class="form-label">Telefone Celular</label>
                            <label class="form-control">{{ dados['tel_celular'][0] }}</label>
                        </div>
                            
                        <div class="col-sm-6">
                            <label for="emailResp" class="form-label">E-mail</label>
                            <label class="form-control">{{ dados['email'][0] }}</label>
                        </div>
                        
                            
                        <div class="col-sm-2 mb-6">
                            <button class="w-100 btn btn-dark btn-sm" type="submit">Salvar</button>
                        </div>

                        <div>
                            <br>
                        </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
