body {
    margin: 0;
}

.d-flex {
    display: flex;
}

.nav-pills .nav-link.active {
    background-color: black;
    color: white !important;
}

footer {
    position: fixed;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    z-index: 1050;
    background-color: #212529 !important
}

.position-relative {
    position: relative
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.row>* {
    flex-shrink: 1;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.reg-td {
    border: 1px solid #dddddd;
    text-align: left;
    vertical-align: middle;
    width: 20vw;
    padding: 8px;
    position: relative;
    max-width: 20vw;
    line-height: 4vh;
    overflow: hidden;
    white-space: nowrap;
}

.reg-th {
    border: 1px solid #dddddd;
    text-align: left;
    vertical-align: top;
    width: 25vw;
    padding: 8px;
    position: relative;

}

.last-th,
.last-td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 10vw !important;
    vertical-align: middle;
}

.id-td,
.id-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 15vw !important;
    vertical-align: top;
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 0;
    float: right;
}

.btn-icon i {
    font-size: 1rem;
    color: white;
}

.form-control {
    display: inline-block;
    padding: .275rem .275rem;
}

.search-bar {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container input {
    margin-left: 5px;
}

.header-container button {
    margin-left: 5px;
}

.th-input {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}


.sidebar {
    width: 250px;
    /* Largura inicial da navbar */
    height: 100vh;
    transition: width 0.3s;
    /* Transição suave para largura */
    position: fixed;
    overflow: hidden;
    z-index: 1000;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.sidebar .nav-link i {
    font-size: 20px;
    /* Tamanho dos ícones */
    margin-right: 8px;
}

.sidebar .toggle-btn {
    margin: 2px;
}

.sidebar.collapsed {
    width: 60px;
    /* Largura da navbar com ícones */
}

.sidebar.collapsed .nav-text {
    display: none;
    /* Esconde o texto quando colapsado */
}

.sidebar.collapsed .nav-link i {
    display: block;
    /* Exibe ícones quando colapsado */
}

main {
    padding: 3px;
    flex-grow: 1;
    margin-left: 250px;
    /* Margem inicial para o conteúdo principal, para evitar sobreposição */
    padding: 20px;
    /* Espaço ao redor do conteúdo principal */
    transition: margin-left 0.3s;
    /* Transição suave para ajuste da margem */
}

.sidebar.collapsed+main {
    margin-left: 60px;
    /* Ajusta a margem quando a navbar está colapsada */
}

.sidebar.collapsed .nav-button.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    /* Largura da listra */
    height: 100%;
    /* A listra deve ter a altura do botão */
    background-color: #000000;
    /* Cor da listra */
    z-index: 1;
    transition: background-color 0.3s;
}

.sidebar.collapsed .nav-pills .nav-link.active {
    background-color: #ffffff;
    /* Cor de fundo quando clicado */
}

.sidebar.collapsed .nav-button {
    position: relative;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: black !important;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.container-fluid {
    --bs-gutter-x: 0.5rem;
    overflow: hidden;
}
#graph-container{
    margin-left:50vw;
}