{% extends "base.html" %}

{% block title %}Atendimentos - Sistema de Atendimento{% endblock %}

{% block styles %}
    <style>
        .card-body {
            padding-left:25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Lista de Atendimentos
        </div>
        <div class="card-body">
            <li>Atendimento 1: Status - Concluído</li>
            <li>Atendimento 2: Status - Pendente</li>
            <li>Atendimento 3: Status - Em Andamento</li>
            <!-- Mais conteúdo específico sobre atendimentos -->
        </div>
    </div>
    
{% endblock %}
