<!-- templates/formulario.html -->
{% extends "base.html" %}

{% block title %}Formulário com Assinatura{% endblock %}

{% block content %}
<div class="container">
    <h2>Preencha o formulário</h2>
    <form action="/assinatura" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <button type="submit" class="btn btn-primary">Prosseguir para Assinatura</button>
    </form>
</div>
{% endblock %}
