<!-- templates/formulario.html -->
{% extends "base.html" %}

{% block title %}Formulário com Assinatura{% endblock %}

{% block styles %}
<style>
    .radio-group{
        display: flex;
    }
    .radio-group .form-check {
        margin-right: 15px;     /* Adiciona espaço entre as opções */
    }

    #signature-pad {
        border: 1px solid #000; /* Adiciona uma borda ao canvas */
        box-sizing: border-box; /* Inclui padding e borda na largura total */
    }

    .card {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin-inline: 2vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}

{% block navbar %}
<button class="nav-link text-start text-dark fw-bold nav-button"
    id="v-pills-home-tab colorButton" data-bs-toggle="pill" data-bs-target="#v-pills-home"
    type="button" role="tab" onclick="redireciona('home');" aria-controls="v-pills-home" aria-selected="false" title="Home"><i
    class="bi bi-house"></i> <span class="nav-text">Home</span></button>
<button class="nav-link text-start text-dark fw-bold nav-button" id="v-pills-contas-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-meus-dados" type="button" role="tab"
    aria-controls="v-pills-meus-dados" onclick="redireciona('meusDados')" aria-selected="false" title="Meus Dados"><i class="bi bi-person"></i><span
        class="nav-text">Meus Dados</span></button>
<button class="nav-link text-start text-dark fw-bold nav-button" id="v-pills-due-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-due" type="button" role="tab"
    aria-controls="v-pills-due" onclick="redireciona('documentos')" aria-selected="false" title="Documentos"><i class="bi bi-pass"></i>
    <span class="nav-text">Documentos</span></button>
<button class="nav-link active text-start text-dark fw-bold nav-button" id="v-pills-opt-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-opt" type="button" role="tab" onclick="redireciona('chamados')"
    aria-controls="v-pills-opt" aria-selected="true" title="Chamados"><i class="bi bi-list-task"></i>
    <span class="nav-text">Chamados</span></button>  
{% if current_user.tipo == 'Administrador' %}
<button class="nav-link text-start text-start text-dark fw-bold nav-button" id="v-pills-adm-tab colorButton"
    data-bs-toggle="pill" data-bs-target="#v-pills-adm" type="button" role="tab" onclick="redireciona('admin')"
    aria-controls="v-pills-adm" aria-selected="false" title="Administrador"><i class="bi bi-person-lock"></i>
    <span class="nav-text">Administrador</span></button>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="pt-4 nav justify-content-end">

        <div class="d-flex">
            <a class="btn btn-outline-dark m-2" href="{{ url_for('view_chamado', id_chamado=chamado['id_chamado'][0]) }}">Voltar</a>
        </div>
    </div>
    <main class="form-signin w-75 m-auto">
        <div class="row g-5">
            <div class="col align-self-start">
                <form class="needs-validation" novalidate method="POST" id="myForm" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="card" style="height: 95%;">
                        <div class="row g-3">

                            <h4 class="mb-3">1. Dados do Aluno</h4>

                            <div class="col-sm-6">
                                <label for="nomeAlu" class="form-label">Nome do Aluno<strong>*</strong></label>
                                {{form.nome_aluno(class="form-control", type="text", value=chamado['nome_aluno'][0], id="nomeAlu")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="nascAlu" class="form-label">Data de Nascimento<strong>*</strong></label>
                                {{form.nascimento_aluno(class="form-control", type="date", value=chamado['data_nasc_aluno'][0],  id="nascAlu")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="serieAlu" class="form-label">Ano/Série<strong>*</strong></label>
                                {{form.serie_aluno(class="form-control", type="text", value=chamado['serie_aluno'][0],  id="serieAlu")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="turmaAlu" class="form-label">Turma<strong>*</strong></label>
                                {{form.turma_aluno(class="form-control", type="text", value=chamado['turma_aluno'][0],  id="turmaAlu")}}
                            </div>

                            <h4 class="mb-3">2. Dados do Responsável</h4>

                            <div class="col-sm-12">
                                <label for="nomeResp" class="form-label">Nome do Responsável<strong>*</strong></label>
                                {{form.nome_responsavel(class="form-control", type="text", value=chamado['nome_responsavel'][0],  id="nomeResp")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="parentescoResp" class="form-label">Grau de Parentesco<strong>*</strong></label>
                                {{form.parentesco_responsavel(class="form-control", type="text", value=chamado['parentesco_responsavel'][0],  id="parentescoResp")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="emailResp" class="form-label">E-mail<strong>*</strong></label>
                                {{form.email_responsavel(class="form-control", type="email", value=chamado['email_responsavel'][0],  id="emailResp")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="telResp" class="form-label">Telefone<strong>*</strong></label>
                                {{form.telefone_responsavel(class="form-control", type="text", value=chamado['telefone_responsavel'][0],  id="telResp")}}
                            </div>

                            <div class="col-sm-6">
                                <label for="celResp" class="form-label">Celular<strong>*</strong></label>
                                {{form.celular_responsavel(class="form-control", type="text", value=chamado['celular_responsavel'][0],  id="celResp")}}
                            </div>

                            <div class="col-sm-12">
                                <label for="soliPor" class="form-label">Solicitado Por<strong>*</strong></label>
                                <div class="radio-group">
                                    {% for subfield in form.solicitado_por %}
                                        {{ subfield.value }}
                                        <div class="form-check">
                                            {{ subfield(class="form-check-input", checked=(subfield.data == chamado['solicitado_por'][0])) }}  <!-- Botão de rádio -->
                                            {{ subfield.label(class="form-check-label") }}  <!-- Texto da opção -->
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <h4 class="mb-3">3. Questões</h4>

                            <div class="col-sm-12">
                                {{form.questoes(class="form-control", type="text", value=chamado['questoes'][0],  id="questoes")}}
                            </div>

                            <h4 class="mb-3">4. Aconselhamento / Observações da Escola</h4>

                            <div class="col-sm-12">
                                {{form.aconselhamento(class="form-control", type="text", value=chamado['aconselhamento'][0],  id="aconselhamento")}}
                            </div>

                            <h4 class="mb-3">5. Providências</h4>

                            <div class="col-sm-12">
                                {{form.providencias(class="form-control", type="text", value=chamado['providencias'][0],  id="providencias")}}
                            </div>

                            <h4 class="mb-3">6. Observações Finais</h4>

                            <div class="col-sm-12">
                                {{form.observacoes_finais(class="form-control", type="text", value=chamado['observacoes_finais'][0],  id="obsFim")}}
                            </div>

                            <h4 class="mb-3">7. Assinaturas</h4>
                            {% if current_user.tipo == 'Usuário' %}
                                <div class="col-sm-12">
                                    <h4 class="mb-3">Assinatura do Responsável</h4>
                                    <div class="signature-container">
                                        <!-- Exibir canvas para refazer a assinatura -->
                                        <div class="canvas-wrapper">
                                            <canvas id="signature-pad" style="width: 100%;height: 25vh;border:1px solid black"></canvas>
                                            <input type="hidden" name="assinaturaCanvasData" id="assinaturaCanvasData">
                                            <button type="button" id="clearCanvas" class="btn btn-danger mt-2">Refazer Assinatura</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% if current_user.tipo == 'Administrador' %}
                                <!-- Assinatura do Atendente -->
                                <div class="col-sm-12">
                                    <h4 class="mb-3">Assinatura do Atendente</h4>
                                    <div class="signature-container">
                                        <!-- Exibir canvas para refazer a assinatura -->
                                        <div class="canvas-wrapper">
                                            <canvas id="signature-pad" style="width: 100%;height: 25vh;border:1px solid black"></canvas>
                                            <input type="hidden" name="assinaturaCanvasData" id="assinaturaCanvasData">
                                            <button type="button" id="clearCanvas" class="btn btn-danger mt-2">Refazer Assinatura</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            
                            <div class="col-sm-2 mb-6">
                                <button class="w-100 btn btn-dark btn-sm" type="submit">Salvar</button>
                            </div>

                            <div>
                                <br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var canvas = document.getElementById('signature-pad');
        var ctx = canvas.getContext('2d');
        var drawing = false;

        function setCanvasBackground(color) {
            ctx.fillStyle = color;
            ctx.fillRect(0, 0, canvas.width, canvas.height);
        }

        

        function resizeCanvas() {
            canvas.width = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;
            setCanvasBackground('#ffffff');
        }

        window.addEventListener('resize', resizeCanvas);
        resizeCanvas(); // Ajusta o canvas ao carregar a página

        function getMousePosition(canvas, event) {
            const rect = canvas.getBoundingClientRect();
            return {
                x: event.clientX - rect.left,
                y: event.clientY - rect.top
            };
        }

        canvas.addEventListener('mousedown', function (event) {
            drawing = true;
            const pos = getMousePosition(canvas, event);
            ctx.beginPath();
            ctx.moveTo(pos.x, pos.y);
        });

        canvas.addEventListener('mousemove', function (event) {
            if (drawing) {
                const pos = getMousePosition(canvas, event);
                ctx.lineTo(pos.x, pos.y);
                ctx.stroke();
            }
        });

        canvas.addEventListener('mouseup', function () {
            drawing = false;
            ctx.closePath();
        });

        document.getElementById('myForm').addEventListener('submit', function () {
            var dataURL = canvas.toDataURL('image/png');
            document.getElementById('assinaturaCanvasData').value = dataURL;
        });

        document.getElementById('clearCanvas').addEventListener('click', function () {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        });
    });
</script>
{% endblock %}
